<!-- Section "Administration" sans image de fond -->
<div class="admin-content">
    <div id="content" class="content">
        <h1>Recettes</h1>
        <!-- Titre de la section "Recettes" -->
        <p>Recettes.</p>
        <!-- Description ou sous-titre de la section "Recettes" -->
    </div>
</div>

<!-- Add icon library -->
<!-- Liens vers la bibliothèque d'icônes Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Affichage des étoiles de notation -->
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
<!-- Ces balises affichent une notation en étoiles avec 3 étoiles pleines (checked) et 2 vides -->

<div></div>
<!-- Div vide, probablement pour espacement ou structure -->

<div></div>
<!-- Une autre div vide, servant probablement au même but -->
<!-- Bouton de retour en haut de page -->
<a id="back_to_top" href="#" class="on">
    <!-- Lien permettant de revenir en haut de la page -->
    <span class="circle">
        <!-- Contenu du bouton : un cercle avec une flèche pointant vers le haut -->
        <i class="fas fa-arrow-up"></i>
    </span>
</a>
