<!DOCTYPE html>
<html lang="fr">

    <meta charset="UTF-8">
<div class="titpag">
    <h1>Recherche de recettes</h1>
    </div>

<div class="zone-recherche">
    <input type="text" id="recherche" placeholder="Tapez un nom de recette..." autocomplete="off">
</div>

<div id="recettes" class="grille-recettes"></div>
