<!DOCTYPE html>
<html lang="fr">

    <meta charset="UTF-8">
    <title>Recherche de recettes</title>



<body>

    <h1>Recherche de recettes</h1>
    <input type="text" id="recherche" placeholder="Tapez un nom de recette...">

    <div id="recettes" class="grille-recettes"></div>
    </body>
