@model Role
<!-- Spécifie que le modèle utilisé pour cette vue est un objet de type "Role" -->

<h1>Detail du role</h1>
<!-- Titre de la page affichant "Détail du rôle" -->

<div>
    <!-- Bloc contenant les détails du rôle -->
    ID: @Model.id <br>
    <!-- Affichage de l'ID du rôle à partir du modèle -->
    Nom: @Model.nom <br>
    <!-- Affichage du nom du rôle à partir du modèle -->
</div>
