<h1>À propos de Saveurs Inédites</h1>
@*Titre principal de la page "À propos". Il indique de manière claire que la section présente des informations sur "Saveurs Inédites".*@
<p>Notre plateforme permet aux passionnés de cuisine de partager et découvrir des recettes uniques.</p>
@*Paragraphe expliquant le concept de la plateforme, soulignant qu'elle permet aux utilisateurs de partager et de découvrir des recettes uniques.*@