@{
    ViewData["Title"] = "Erreur";
    // Définit dynamiquement le titre de la page affiché dans l'onglet du navigateur (ici, "Erreur")
}
<h1>Une erreur s'est produite</h1>
<!-- Titre principal de la page qui informe l'utilisateur qu'une erreur s'est produite -->

<p>Veuillez réessayer plus tard.</p>
<!-- Message secondaire pour suggérer à l'utilisateur de tenter à nouveau ultérieurement -->
