<div class="titpag">
<h1>Contactez-nous</h1>
</div>
<main id="login-page">
    <div class="auth-container" id="auth-container">
        <div id="login-form">
            @if (TempData["ValidateMessage"] != null)
            {
                <p class="text-black">
                    @TempData["ValidateMessage"]
                </p>
            }
<form>
    <div class="mb-3">
        <label for="name" class="form-label">Nom</label>
        <input type="text" class="form-control" id="name" placeholder="Votre nom">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Votre email">
    </div>
    <div class="mb-3">
        <label for="message" class="form-label">Message</label>
        <textarea class="form-control" id="message" rows="3"></textarea>
    </div>
                <button id="btnEnvoyer" type="submit">Envoyer</button>
</form>
