@{
	ViewData["Title"] = "Cookies";
}

<div class="text-marketing">
	<div class="container">

		<p>
			<u>
				Gestion des cookies<br />
			</u><br />
		<p>
			D’après la définition de la CNIL “ un cookie est un petit fichier stocké par un serveur dans le terminal (ordinateur, smartphone, etc.) d’un utilisateur et associé à un domaine web (un site web).<br />
		</p>
		<p>
			Cela signifie que lorsque vous visitez un site, votre navigateur télécharge des fichiers contenant des informations sur le site que vous visitez.<br />
		</p>
		<p>
			La plupart des cookies servent à améliorer votre expérience utilisateur sur les sites que vous visitez, ou à aider le site à mieux se développer. Aujourd’hui, il existe plusieurs types de cookies.<br />
		</p>
		<p>
			<u>
				Les cookies essentiels<br />
			</u><br />
			Les cookies essentiels ne sont pas soumis au consentement des utilisateurs. Ils sont indispensables au bon fonctionnement du site et permettent la navigation sur le site web. Ces cookies ne peuvent pas être désactivés.<br />
		</p>
		<p>
			<u>
				Comment gérer mes traceurs ?<br />
			</u><br />
		</p>
		<p>
			Le dépôt des traceurs est soumis au consentement sauf s'ils sont nécessaires au fonctionnement du site et à la fourniture de nos services.
			Vous consentez au dépôt des traceurs dont l'information vous est communiquée dans le bandeau d'information visible lors de votre arrivée sur le site en cliquant sur le bouton « J'Accepte » figurant sur le bandeau ;
			L'accord ainsi donné est valable pour une durée maximum de six (6) mois à compter du premier dépôt dans l'équipement du terminal.
		</p>
		<p>
			<u>
				Traceurs techniques<br />
			</u><br />
		</p>

		Saveurs Inédites utilise des traceurs techniques qui sont automatiquement actifs sur le présent site internet. Ils vous permettent de naviguer correctement sur celui-ci et d’utiliser les fonctionnalités et services mis à votre disposition telle que la mémorisation de vos choix concernant l’utilisation d’autres traceurs.

		Vous avez toujours la possibilité de bloquer ces traceurs en utilisant les paramètres de votre navigateur.

		Néanmoins ce paramétrage sera susceptible d’entraîner une dégradation de votre navigation et/ou l’impossibilité d’accéder à certains services.
	</div>
