@model RecetteAvisViewModel
@*Indique que cette vue utilise le modèle RecetteAvisViewModel pour afficher des données*@

<!-- Titre principal de la page d'accueil -->
<div class="titpag">
	<h1>Bienvenue sur Saveurs Inédites</h1>
</div>

<!-- Phrase d’introduction -->
<p>Découvrez des recettes uniques partagées par notre communauté.</p>

<!-- Section de recherche -->
<div id="contentacceuil" class="contentacceuil">
	<div class="container" id="recherche-container">
		<div id="category_wise_search-4" class="widget widget_search amr_widget posts_holder">

			<!-- Formulaire de recherche -->
			<form role="search" method="get" id="searchform" action="" class="">
				<div class="display-recherche">
					<!-- Champ de recherche -->
					<input aria-label="Rechercher un ingrédient ou une recette…" type="text" value="" name="s"
						   id="s" placeholder="Entrez un ingrédient ou une recette…">

					<!-- Bouton de soumission -->
					<input type="submit" id="searchsubmit" value="Rechercher">
				</div>
			</form>

		</div>
	</div>
</div>

<!-- Section présentant différentes catégories de recettes -->
<div class="acceuil-container">

	<!-- Lien vers une recette de type "Apéritif" -->
	<a href="/Recettes/Detail/1" class="categorie">
		<div class="card-categorie-image">
			<img src="/images/recettes/feuilletee-chaource.jpeg" width="250" height="250" viewBox="0 0 24 24">
		</div>
		<span class="catexte">Apéritif</span>
	</a>

	<!-- Lien vers une recette de type "Soupe" -->
	<a href="/Recettes/Detail/2" class="categorie">
		<div class="card-categorie-image">
			<img src="/images/recettes/soupe.jpeg" width="250" height="250" viewBox="0 0 24 24">
		</div>
		<span class="catexte">Soupe</span>
	</a>

	<!-- Lien vers une recette de type "Entrées" -->
	<a href="/Recettes/Detail/3" class="categorie">
		<div class="card-categorie-image">
			<img src="/images/recettes/salade.jpeg" width="250" height="250" viewBox="0 0 24 24">
		</div>
		<span class="catexte">Entrées</span>
	</a>

	<!-- Lien vers une recette de type "Plats" -->
	<a href="/Recettes/Detail/4" class="categorie">
		<div class="card-categorie-image">
			<img src="/images/recettes/pot.jpeg" width="250" height="250" viewBox="0 0 24 24">
		</div>
		<span class="catexte">Plats</span>
	</a>

	<!-- Lien vers une recette végétarienne -->
	<a href="/Recettes/Detail/5" class="categorie">
		<div class="card-categorie-image">
			<img src="/images/recettes/haricot.jpeg" width="250" height="250" viewBox="0 0 24 24">
		</div>
		<span class="catexte">Plats Végétariens</span>
	</a>

	<!-- Lien vers une recette de dessert -->
	<a href="/Recettes/Detail/6" class="categorie">
		<div class="card-categorie-image">
			<img src="/images/recettes/tarte.jpeg" width="250" height="250" viewBox="0 0 24 24">
		</div>
		<span class="catexte">Desserts</span>
	</a>

</div>

@*Affiche un lien vers "Mes recettes" uniquement si l'utilisateur est connecté*@
@if (User.Identity.IsAuthenticated)
{
	<div style="text-align:center;">
		<a class="mesrecettesliens" href="@Url.Action("MesRecettes", "Recettes")">Mes recettes</a>
	</div>
}
